# Ignore all
*

# ... except these
!controllers
!controlplane
!dataplane
!security
!docker
!test/applications
!side-cars
!go.mod
!go.sum
!k8s/cmd
!k8s/pkg
!pkg
!sdk
!utils
!vendor
!scripts/go-mod-download.sh