# Ignore all
*

# ... except these
!controllers/**
!controlplane/**
!forwarder/**
!docker/**
!test/applications/**
!side-cars/**
!go.mod
!go.sum
!k8s/**
!pkg/**
!sdk/**
!utils/**
!vendor/**
!build/**
!scripts/**
scripts/vagrant/
