# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Emacs backupfiles
*~

# Goland files
.idea

# Cmds being built
cmd/nsm/nsm
cmd/nsm/nsm
cmd/nsm-init/nsm-init

# VScode files
.vscode

# For those that use vi
*.swp
*.swo

containers.txt

#terraform
scripts/terraform/packet.tfvars
*.tfstate
*.backup
**/.terraform*
**/.terraform*

scripts/vagrant/.kube/