---
version: 2.1

jobs:

# build-containers
  build-containers:
    resource_class: xlarge
    working_directory: /go/src/github.com/networkservicemesh/networkservicemesh
    docker:
      - image: circleci/golang:1.13-stretch
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          command: |
            sudo apt-get install python-pip python3-pkg-resources
            pip install --user yamllint
            ./.circleci/install-shellcheck.sh
      - run: yamllint -c .yamllint.yml --strict .
      - run: go version
      - run:
          name: Download Go Dependencies
          command: |
            ./scripts/for-each-module.sh "$(pwd)/scripts/go-mod-download.sh"
      - run:
          name: Check code formatting
          command: |
            make install-formatter
            make format
            git diff --exit-code || (echo 'Seems like your Go files are not properly formatted. Run `make format` in your branch and commit the changes.' && exit 1)
      - run: ./scripts/prepare-generate.sh
      - run: sudo ./scripts/install-protoc.sh
      - run: ./scripts/for-each-module.sh "go generate ./..."
      - run: make vet check
      - run: sudo sudo chmod -R guo+w /usr/local/go/pkg
      - run: ./scripts/for-each-module.sh "go build -i ./..."
      - run: ./scripts/check_dependencies.sh
      - run:
          name: Integration tests
          command: |
            pushd test
            go test ./integration --list .* -tags basic recover usecase
            popd
      - run: mkdir -p ~/junit/
      - run:
          command: |
            export COMMIT="${CIRCLE_SHA1:8:8}"
            export CONTAINER_TAG="${COMMIT}"
            export CONTAINER_REPO="networkservicemeshci"
            export CONTAINER_FORCE_PULL="true"
            gotestsum --junitfile ~/junit/unit-tests.xml -- -short `go list ./... | grep -v -e "sample"`
      - run:
          command: |
            sudo sudo chmod -R guo+w /usr/local/go/pkg
            export COMMIT="${CIRCLE_SHA1:8:8}"
            export CONTAINER_TAG="${COMMIT}"
            export TAG="${COMMIT}"
            export CONTAINER_REPO="networkservicemeshci"
            make docker-push
      - store_test_results:
          path: ~/junit
      - store_artifacts:
          path: ~/junit
    environment:
      GO111MODULE: "on"

# code analysis
  test-static-code-analysis:
    resource_class: large
    docker:
      - image: circleci/golang:1.13-stretch
    steps:
      - checkout
      - run:
          name: lint
          command: |
            ./scripts/lint-download.sh
            ./scripts/for-each-module.sh "$(pwd)/scripts/lint-check-diff.sh"
    environment:
      GO111MODULE: "on"
      LOG_LEVEL: "error"

# integration
  integration-tests:
    docker:
      - image: circleci/golang:1.13-stretch
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          command: |
            sudo ./.circleci/install-yq.sh
      - run:
          command: |
            sudo ./.circleci/set-nameserver.sh sudo
            sudo apt-get install gettext-base
      - run:
          name: "Install kubectl"
          command: |
            sudo ./scripts/install-kubectl.sh
      - run:
          name: "Install GKE deps"
          command: |
            sudo ./scripts/gke/install-gcloud-sdk.sh
      - run:
          name: "Install Azure deps"
          command: |
            sudo ./scripts/azure/install-azure-cli.sh
      - run:
          name: "Init AWS"
          command: |
            ./scripts/aws/aws-init.sh
            sudo cp "$HOME/bin/aws-iam-authenticator" /usr/local/bin/aws-iam-authenticator
      - run:
          name: "Install Helm"
          command: |
            ./scripts/install-helm.sh
            sudo cp "$HOME/bin/helm" /usr/local/bin/helm
      - run:
          name: Downloading go deps
          command: |
            export COMMIT="${CIRCLE_SHA1:8:8}"
            export CONTAINER_TAG="${COMMIT}"
            ./scripts/go-mod-download.sh
          no_output_timeout: 40m
      - run:
          name: Running integration tests
          command: |
            export COMMIT="${CIRCLE_SHA1:8:8}"
            export CONTAINER_TAG="${COMMIT}"
            export REPO="networkservicemeshci"
            export CONTAINER_REPO=${REPO}
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              export STORE_LOGS_IN_ANY_CASES=true
            fi
            sudo sudo chmod -R guo+w /usr/local/go/pkg
            pushd test
            CGO_ENABLED=0 GOOS=linux go build -i -o ../cloudtest ./cloudtest/cmd/cloudtest
            popd
            ./cloudtest
          no_output_timeout: 40m
      - store_test_results:
          path: .tests/cloud_test/results/
      - store_artifacts:
          path: .tests/cloud_test/
      - store_artifacts:
          path: ~/postmortem
    environment:
      GO111MODULE: "on"
      NSM_NAMESPACE: "nsm-system"

# docker push
  docker-push-tag:
    docker:
      - image: circleci/golang:1.13-stretch
    parameters:
      tag:
        type: string
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          command: |
            export COMMIT="${CIRCLE_SHA1:8:8}"
            export PULL_TAG="${COMMIT}"
            export TAG="<< parameters.tag >>"
            export REPO="networkservicemesh"
            export PULL_REPO="networkservicemeshci"
            export CONTAINERS=(nsmd nsmd-k8s nsmdp)
            export CONTAINERS=(${CONTAINERS[@]} proxy-nsmd proxy-nsmd-k8s)
            export CONTAINERS=(${CONTAINERS[@]} crossconnect-monitor nsm-init nsm-monitor admission-webhook)
            export CONTAINERS=(${CONTAINERS[@]} vppagent-dataplane)
            export CONTAINERS=(${CONTAINERS[@]} test-common vpp-test-common nsm-coredns)
            export CONTAINERS=(${CONTAINERS[@]} kernel-forwarder)
            echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin
            for c in ${CONTAINERS[@]}; do
              docker pull ${PULL_REPO}/${c}:${PULL_TAG}
              docker tag ${PULL_REPO}/${c}:${PULL_TAG} ${REPO}/${c}:${TAG}
              docker push ${REPO}/${c}:${TAG}
            done

# helm
  test-helm-charts:
    docker:
      - image: quay.io/helmpack/chart-testing:v2.3.0
    steps:
      - checkout
      - run:
          name: Install and lint Helm charts
          command: |
            .circleci/helm/test-charts.sh

# workflows
workflows:
  version: 2
  build-and-test:
    jobs:
      - build-containers
      - test-static-code-analysis:
          name: "test-static-code-analysis"

# Integration testing
      - integration-tests:
          name: "test-integration"
          requires:
            - build-containers
# helm
      - test-helm-charts:
          name: "test-helm-charts"
          requires:
            - build-containers

# push
      - docker-push-tag:
          tag: "master"
          requires:
            - test-integration
          filters:
            branches:
              only: master
